{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description | markdownify }}</div>
  {{- end }}
</header>

{{- if .IsHome }}
<article class="first-entry home-info">
  <header class="entry-header">
    <h1>
      <code>[+] $ whoami</code>
    </h1>
  </header>
  <div class="entry-content">
    <p>
      Hello, I'm Myeonghyun Kim, also known as DoubleMnSingleH and kimh. I live in Seoul, South Korea<br> 
      and I'm ML/DL Engineer and AISec Researcher.
      <a href="https://zero.shotlearni.ng/about">Read more..</a>
    </p><br>
    <ul>
      <li><a href="mailto:devmhyun@gmail.com" title="Email"><strong>Email</strong></a> - For any inquiries or suggestions, feel free to reach out via email.</li>
      <li><a href="https://github.com/dev-mhyun" title="GitHub."><strong>Github</strong></a> - Check out my projects by following me on GitHub.</li>
    </ul>
  </div>
</article>
{{- end }}

{{- range .Paginator.Pages }}
<article class="post-entry">
  <header class="entry-header">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  </header>
  <div class="entry-content">
    <p>{{ .Summary }}</p>
  </div>
</article>
{{- end }}

{{- partial "pagination.html" . }}

{{- end }}
